<!doctype html>
<link rel="stylesheet" type="text/css" href="/css/style.css">

<html class="no-js" lang="">

<div class="footer fixed-bottom">
    <footer class="page-footer font-small teal pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <p class="text-uppercase font-weight-bold" style="float:right">Proiect BD</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-6 mb-md-0 mb-3">
                    <p class="text-uppercase font-weight-bold">Stefan Voicila, 334AB</p>
                </div>
            </div>
        </div>
    </footer>
</div>