<div class = "head">
    {{> header }}
</div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron custom">
        <div class="container">
        <h1 class="display-3">Eventsy.</h1>
        <p>Proiect la baze de date ce presupune crearea unei aplicatii. Pentru baza de date am folosit MySQL.</p>
        <p>Proiectul impune urmatoarele cerinte:</p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
        <div class="col-md-4">
            <h2>Cerinte cod:</h2>
            <p>1. Fiind aplicatie web, contine parte de administrare</p>
            <p>2. Implementata intr-un limbaj de programare vizual</p>
        </div>
        <div class="col-md-4">
            <h2>Cerinte baza de date:</h2>
            <p>1. Insert, Update, Delete pe minim 2 tabele</p>
            <p>2. Minim 6 interogari simple si 4 complexe</p>
            <p>3. Minim 2 relatii 1:N si N:N</p>
        </div>
        <div class="col-md-4">
            <h2>Documentatie</h2>
            <p>1. Contine descrierea tabelelor si a relatiilor dintre tabele.</p>
            <p>2. Descrie functionalitatea aplicatiei si librariile folosite.</p>
            <p><a class="btn custombtn" href="https://www.dropbox.com/s/gx2ccu3bmyg8ai2/Documentatie_BD.pdf?dl=0" role="button">Download</a></p>
        </div>
        </div>

        <hr>

    </div> <!-- /container -->

    </main>

{{> footer }}
</html>
