{{> header }}

<div class = "container">
    <h1>{{title}}</h1>

    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger" role="alert">
                {{this.msg}}
            </div>
        {{/each}}
    {{/if}}
    <form method="POST" action="/register">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="text" name="email" class="form-control" placeholder="Enter email">
            <small id="emailHelp" class="textR">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="passwordMatch">Re-enter Password</label>
            <input type="password" name="passwordMatch" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text", name="firstName", class="form-control" placeholder="First Name">
        </div>

        <button type="submit" class="btn custombtn">Submit</button>
    </form>

</div>
</body>

    <div class="space">
        {{> footer}}
    </div>

</div>